<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="places/search">
      <ion-label>Search Place</ion-label>
      <ion-icon name="location-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="places">
      <ion-label>Visited Places</ion-label>
      <ion-icon name="map-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tours">
      <ion-label>My Schedule</ion-label>
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>