<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
       <ion-back-button color="light" text="" defaultHref="welcome" name="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Select a Place
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="customer-form">
    <ion-list lines="none">
      <ion-item>
        <ion-input type="text" placeholder="Choose an existing place">
          <ion-icon class="zmdi zmdi-gps-dot"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Last destination place"></ion-input>
      </ion-item>
      <div class="ion-float-end">
        <ion-checkbox class="ion-text-start"></ion-checkbox>
        <ion-label>Remember last place</ion-label>
      </div>
    
    </ion-list>
  
  </div>
</ion-content>

