<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
       <ion-back-button color="light" defaultHref="/pages/tabs/places" text="" name="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Most Visited Places
    </ion-title>

  </ion-toolbar>

  <div class="wrapper-image">
    <div class="map-box">
      <img src="assets/images/map/rome-map.jpg">
      <ion-icon class="zmdi zmdi-pin active" style="top: 33%; left: 71%;"></ion-icon>
      <ion-icon class="zmdi zmdi-pin active" style="top: 72%; left: 48%;"></ion-icon>
      <ion-icon class="zmdi zmdi-pin active" style="top: 80%; left: 80%;"></ion-icon>
      <ion-icon class="zmdi zmdi-pin active" style="top: 75%; left: 31%;"></ion-icon>
			<ion-icon class="zmdi zmdi-pin active" style="top: 16%; left: 17%;"></ion-icon>
			<ion-icon class="zmdi zmdi-pin active" style="top: 33%; left: 11%;"></ion-icon>
			<ion-icon class="zmdi zmdi-pin active" style="top: 22%; left: 39%;"></ion-icon>
			<ion-icon class="zmdi zmdi-pin active" style="top: 80%; left: 80%;"></ion-icon>    
    </div>
    <ion-segment [(ngModel)]="switchTabs">
      <ion-segment-button value="historic">
        historic
      </ion-segment-button>
      <ion-segment-button value="museum">
        museums
      </ion-segment-button>
      <ion-segment-button value="church">
        churches
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<ion-content class="bg-color">
  <div class="container" [ngSwitch]="switchTabs">
    <ion-list lines="none" *ngSwitchCase="'historic'">
      
      <ion-item *ngFor="let historicPlace of historicPlaces">
        <div class="recent-place d-flex">
          <div class="picture-box image-sizing">
            <img [src]="historicPlace.imageURI">
          </div>
          <div class="content">
            <h2 class="d-flex">
              <span>{{ historicPlace.name }}</span>
              <ion-icon class="zmdi zmdi-chevron-right align-right"></ion-icon>
            </h2>
            <p>{{ historicPlace.tagline }}</p>
            <div class="d-flex rating">
              <h3 class="d-flex">
                <strong class="ion-text-start">{{ historicPlace.rating }}</strong>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <!--<span class="ion-text-end">({{ historicPlaces[0].views }}k)</span>-->
              </h3>
              <ion-button
                class="ion-no-margin" 
                expand="full"
                (click)="onOpenModal()"
                >
                <span>Add To Tour</span>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <ion-list lines="none" *ngSwitchCase="'museum'">
      <ion-item *ngFor="let museumPlace of museumPlaces">
        <div class="recent-place d-flex">
          <div class="picture-box image-sizing">
            <img [src]="museumPlace.imageURI">
          </div>
          <div class="content">
            <h2 class="d-flex">
              <span>{{ museumPlace.name }}</span>
              <ion-icon class="zmdi zmdi-chevron-right align-right"></ion-icon>
            </h2>
            <p>{{ museumPlace.tagline }}</p>
            <div class="d-flex rating">
              <h3 class="d-flex">
                <strong class="ion-text-start">{{ museumPlace.rating }}</strong>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <!--<span class="ion-text-end">({{ museumPlaces[0].views }}k)</span>-->
              </h3>
              <ion-button
                class="ion-no-margin" 
                expand="full"
                (click)="onOpenModal()"
                >
                <span>Add To Tour</span>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-item>

    </ion-list>

    <ion-list lines="none" *ngSwitchCase="'church'">
      <ion-item *ngFor="let churchPlace of churchPlaces">
        <div class="recent-place d-flex">
          <div class="picture-box image-sizing">
            <img [src]="churchPlace.imageURI">
          </div>
          <div class="content">
            <h2 class="d-flex">
              <span>{{ churchPlace.name }}</span>
              <ion-icon class="zmdi zmdi-chevron-right align-right"></ion-icon>
            </h2>
            <p>{{ churchPlace.tagline }}</p>
            <div class="d-flex rating">
              <h3 class="d-flex">
                <strong class="ion-text-start">{{ churchPlace.rating }}</strong>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <!--<span class="ion-text-end">({{ churchPlaces[0].views }}k)</span>-->
              </h3>
              <ion-button
                class="ion-no-margin" 
                expand="full"
                (click)="onOpenModal()"
                >
                <span>Add To Tour</span>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-item>
     
    </ion-list>
  </div>
</ion-content>