<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
       <ion-back-button color="light" text="" defaultHref="welcome" name="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Recent Places
    </ion-title>

  </ion-toolbar>

  <div class="wrapper-image">
    <div class="map-box">
      <img src="assets/images/map/rome-map.jpg">
      <ion-icon class="zmdi zmdi-pin active" style="top: 33%; left: 71%;"></ion-icon>
      <ion-icon class="zmdi zmdi-pin active" style="top: 72%; left: 48%;"></ion-icon>
      <ion-icon class="zmdi zmdi-pin active" style="top: 80%; left: 80%;"></ion-icon>
      <ion-icon class="zmdi zmdi-pin active" style="top: 75%; left: 31%;"></ion-icon>
			<ion-icon class="zmdi zmdi-pin active" style="top: 16%; left: 17%;"></ion-icon>
			<ion-icon class="zmdi zmdi-pin active" style="top: 33%; left: 11%;"></ion-icon>
			<ion-icon class="zmdi zmdi-pin active" style="top: 22%; left: 39%;"></ion-icon>
			<ion-icon class="zmdi zmdi-pin active" style="top: 80%; left: 80%;"></ion-icon>
    </div>
    <ion-segment>
      <ion-segment-button value="heritage">
        heritage
      </ion-segment-button>
      <ion-segment-button value="museums">
        museums
      </ion-segment-button>
      <ion-segment-button value="parks">
        parks
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<ion-content class="bg-color">
  <div class="container">
    <ion-list lines="none">
      <ion-item>
        <div class="recent-place d-flex">
          <div class="picture-box image-sizing">
            <img src="assets/images/places/colosseum.jpg">
          </div>
          <div class="content">
            <h2 class="d-flex">
              <span>Roman Colosseum</span>
              <ion-icon class="zmdi zmdi-chevron-down align-right"></ion-icon>
            </h2>
            <p>This ancient theather is another of Rome’s major tourist attractions</p>
            <div class="d-flex rating">
              <h3 class="d-flex">
                <strong class="ion-text-start">4.2</strong>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <ion-icon class="zmdi zmdi-star"></ion-icon>
                  <span class="ion-text-end">(1.9k)</span>
              </h3>
            </div>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="recent-place d-flex">
          <div class="picture-box image-sizing">
            <img src="assets/images/places/colosseum.jpg">
          </div>
          <div class="content">
            <h2 class="d-flex">
              <span>Roman Colosseum</span>
              <ion-icon class="zmdi zmdi-chevron-down align-right"></ion-icon>
            </h2>
            <p>This ancient theather is another of Rome’s major tourist attractions</p>
            <div class="d-flex rating">
              <h3 class="d-flex">
                <strong class="ion-text-start">4.2</strong>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <ion-icon class="zmdi zmdi-star"></ion-icon>
                  <span class="ion-text-end">(1.9k)</span>
              </h3>
            </div>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="recent-place d-flex">
          <div class="picture-box image-sizing">
            <img src="assets/images/places/colosseum.jpg">
          </div>
          <div class="content">
            <h2 class="d-flex">
              <span>Roman Colosseum</span>
              <ion-icon class="zmdi zmdi-chevron-down align-right"></ion-icon>
            </h2>
            <p>This ancient theather is another of Rome’s major tourist attractions</p>
            <div class="d-flex rating">
              <h3 class="d-flex">
                <strong class="ion-text-start">4.2</strong>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <ion-icon class="zmdi zmdi-star"></ion-icon>
                  <span class="ion-text-end">(1.9k)</span>
              </h3>
            </div>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="recent-place d-flex">
          <div class="picture-box image-sizing">
            <img src="assets/images/places/colosseum.jpg">
          </div>
          <div class="content">
            <h2 class="d-flex">
              <span>Roman Colosseum</span>
              <ion-icon class="zmdi zmdi-chevron-down align-right"></ion-icon>
            </h2>
            <p>This ancient theather is another of Rome’s major tourist attractions</p>
            <div class="d-flex rating">
              <h3 class="d-flex">
                <strong class="ion-text-start">4.2</strong>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <ion-icon class="zmdi zmdi-star active"></ion-icon>
                  <ion-icon class="zmdi zmdi-star"></ion-icon>
                  <span class="ion-text-end">(1.9k)</span>
              </h3>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>