<ion-content>
  <div class="container">
    <div class="logo-box" text-center>
      <img src="assets/images/logo/temp-logo.jpg">
    </div>
    <h2 class="ion-text-center">What would you like to do?</h2>
    <ion-buttons slot="end">
      <ion-button
        size="large"
        expand="full"
        class="btn-normal"
      >
        Signup
      </ion-button>
      <ion-button
        fill="clear"
        size="large"
        expand="full"
        (click)="onRedirectToPages()"
      >
        Login
      </ion-button>
    </ion-buttons>
    
    <!--
    <h2 class="ion-text-center">
      Continue with
    </h2>
     <ion-buttons slot="end">
      <ion-button 
        size="large" 
        expand="full" 
        class="instagram"
        (click)="onNavigateTo()">
          <ion-icon class="zmdi zmdi-instagram"></ion-icon>&nbsp;
          instagram
      </ion-button>
      <ion-button 
        size="large" 
        expand="full" 
        class="twitter"
        (click)="onNavigateTo()">
        <ion-icon class="zmdi zmdi-twitter"></ion-icon>&nbsp;
        twitter
      </ion-button>
    </ion-buttons>
    -->
  </div>
</ion-content>