<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="logo-box" text-center>
      <img src="assets/images/logo/temp-logo.jpg">
    </div>
    <h2 class="ion-text-center">
      Discover new places
      <strong>To visit while you travel</strong>
    </h2>
     <ion-buttons slot="end">
      <ion-button 
        size="large" 
        expand="full" 
        class="btn-normal"
        (click)="onNavigateTo()">
          Continue
      </ion-button>
    </ion-buttons>
  </div>
</ion-content>