<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Company Logo
    </ion-title>
   <div class="ion-text-end">
      <ion-icon class="zmdi zmdi-accounts-add"></ion-icon>
   </div>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-color">
   <div class="container">
      <div class="search-place">
         <div class="placeholder-map">
            <img src="assets/images/map/phone-map.jpg">
         </div>
         <div class="customer-form">
            <ion-list lines="none">
               <ion-item>
                  <ion-buttons>
                     <ion-button [routerLink]="['/', 'pages', 'tabs', 'places', 'recent']">
                        <ion-icon class="zmdi zmdi-search" item-start></ion-icon>
                     </ion-button>
                  </ion-buttons>
                   <ion-input type="text" placeholder="Search for a place to visit"></ion-input>
               </ion-item>
            </ion-list>
            <ion-list lines="none">
               <ion-item>
                  <ion-buttons>
                     <ion-button>
                        <ion-icon class="zmdi zmdi-gps-dot"></ion-icon>
                     </ion-button>
                  </ion-buttons>
                   <ion-input type="text" placeholder="Choose most recent place" readonly></ion-input>
               </ion-item>
            </ion-list>
         </div>
      </div>
   </div>
</ion-content>