ion-header {
  ion-toolbar {
    --background: var(--primary-color);
    color: var(--text-white-color);
    height: 50px;
    position: relative;
    width: 100%;
    left: 0;

    ion-title {
      text-transform: capitalize;
      font-size: 1.25rem;
    }

    ion-icon {
      position: absolute;
      font-size: 1.5rem;
      left: 90%;
      top: 25%;
    }
  }
}

ion-content {
  .container {
    height: auto;
    width: 100vw;

    ion-list {
      padding-top: 7px;
      background: var(--background-color);

      ion-item {
        padding: 0;
        overflow: hidden;
        --background: var(--text-light-color);
        margin-bottom: 3px;
        margin-left: -15px;
        width: 460px;
        box-shadow: 0 10px 5px 3px rgba(0, 0, 0, 0.05) !important;

        .info-tour {
          position: relative;
          align-items: flex-start;
          margin: 0;
          height: 160px;

          .picture-box {
            margin-top: 20px;
            margin-left: -80px;
            margin-right: 30px;
            padding-left: 90px;

            img {
              width: 180px;
              height: 120px;
              border: 2px solid var(--text-white-color);
            }
          }

          .content {
            margin: 0;
            position: relative;
            height: auto;
            padding-bottom: 40px;
            display: block;
            width: 100%;
            overflow: hidden;
            margin-left: -20px;

            h2 {
              color: var(--text-black-color);
              font-size: 1.2rem;
              font-weight: 700;
              margin-left: 3%;
              padding-bottom: 15px;
            }

            h3 {
              color: var(--text-dark-color);
              font-size: 1rem;
              max-width: 350px;
              overflow: hidden;
              letter-spacing: 0.3px;
              margin-top: -15px;
              margin-left: 3%;

              ion-icon {
                margin: 0;
                position: relative;
                color: var(--primary-color);
                margin-bottom: 3px;
                padding-bottom: 7px;
                font-size: 1.6rem;
                min-width: 30px;
              }

              span {
                overflow: hidden;
                color: var(--primary-color);
                margin-left: 10px;
                font-size: 1rem;
                font-weight: 500;
              }
            }

            h4 {
              color: var(--text-white-color);
              font-size: 1rem;
              overflow: hidden;
              letter-spacing: 0.3px;
              margin-left: 3%;

              span {
                color: var(--secondary-color);
                overflow: hidden;
                margin-left: 40px;
              }
            }
          }
        }
      }
    }
  }
}
