<ion-content class="bg-color">
  <ion-card class="ion-text-center">
    <h1>Save it first!</h1>
    <h2>Before sharing, <br>save the trip</h2>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button
            fill="clear" 
            size="large" 
            expand="full"
            class="btn-normal ion-no-margin" 
          >
          Close
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button
            size="large" 
            expand="full"
            class="btn-normal ion-no-margin" 
          >
          Save
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>