<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" menuId="sidebar" side="start">    
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-title>
              <ion-icon class="zmdi zmdi-square-right"></ion-icon>
            </ion-title>
          </ion-buttons>
        </ion-toolbar>

        <div class="profile-user">
          <div class="circle-image image-sizing">
            <img src="assets/images/avatar/user-profile1.jpg" class="center-image">
          </div>
          <div class="greeting-user d-flex">
            <h2>Welcome, <br> New Customer</h2>
            <ion-icon class="zmdi zmdi-chevron-right"></ion-icon>
          </div>
        </div>
      </ion-header>

      <ion-content>
        <ion-list lines="none">
          
          <ion-menu-toggle>
            <ion-item>
              <ion-button [routerLink]="['/', 'pages', 'tabs', 'users', 'profile']">
                <ion-icon class="zmdi zmdi-account-circle" item-start></ion-icon>
                <h2>My Profile</h2>
              </ion-button>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item>
              <ion-button [routerLink]="['/', 'pages', 'tabs', 'places', 'recent']">
                <ion-icon class="zmdi zmdi-compass"></ion-icon>
                <h2>My Places</h2>
              </ion-button> 
            </ion-item>
          </ion-menu-toggle>
          <!--
            <ion-item>
              <ion-button>
                <ion-icon class="zmdi zmdi-airplane"></ion-icon>
                <h2>My Trips</h2>
              </ion-button>
            </ion-item>
            -->
            <ion-item>
              <ion-button>
                <ion-icon class="zmdi zmdi-thumb-up"></ion-icon>
                <h2>Rate Us</h2>
              </ion-button>
            </ion-item>	
            <ion-menu-toggle>
              <ion-item>
                <ion-button routerLink="/about-us">
                  <ion-icon class="zmdi zmdi-card-membership"></ion-icon>
                  <h2>About Us</h2>
                </ion-button>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle>	
              <ion-item>
                <ion-button routerLink="/support">
                  <ion-icon class="zmdi zmdi-account-box-mail"></ion-icon>
                  <h2>Support</h2>
                </ion-button>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle>	
              <ion-item>
                <ion-button (click)="onLogoutUser()">
                  <ion-icon class="zmdi zmdi-caret-left-circle"></ion-icon>
                  <h2>Logout</h2>
                </ion-button>
              </ion-item>
            </ion-menu-toggle>	
        
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
