<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">
      My Profile
    </ion-title>
    <div class="ion-text-end">
      <ion-icon class="zmdi zmdi-edit"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-color">
  <div class="profile-user">
    <div class="circle-image image-sizing">
      <img src="assets/images/avatar/user-profile1.jpg" class="center-image">
    </div>
    <div class="profile-name">
      <h2 class="ion-text-center">
        {{ showVisitorProfile[0].firstName }}
        {{ showVisitorProfile[0].lastName }}
      </h2>
    </div>
  </div>
  <ion-list lines="none">
    <ion-card>
      <ion-item>
        <ion-icon class="zmdi zmdi-email"></ion-icon>
        <h2>Email Address</h2>
				<h3>{{ showVisitorProfile[0].emailAddress }}</h3>
      </ion-item>
      <ion-item>
				<ion-icon class="zmdi zmdi-cake"></ion-icon>
				<h2>Day of birth</h2>
        <h3>{{ showVisitorProfile[0].dayOfBirth }}</h3>
				<!--<h3>August, 12<sup>th</sup> 1990</h3>-->
			</ion-item>

      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-icon class="zmdi zmdi-accounts"></ion-icon>
						  <h2>Gender</h2>
						  <h3>{{ showVisitorProfile[0].gender }}</h3>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-icon class="zmdi zmdi-globe"></ion-icon>
						  <h2>Country</h2>
						  <h3>{{ showVisitorProfile[0].country }}</h3>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-icon class="zmdi zmdi-compass"></ion-icon>
              <h2>No Trips</h2>
              <h3>{{ showVisitorProfile[0].plannedTrips }}</h3>
            </ion-item>
          </ion-col>
          <ion-col size="6">
					  <ion-item>
						  <ion-icon class="zmdi zmdi-pin"></ion-icon>
						  <h2>Places</h2>
						  <h3>{{ showVisitorProfile[0].visitedPlaces }}</h3>
					  </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
  