<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="light" defaultHref="welcome" name="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Name of Trip Here
      <span class="icon-box align-right">
        <ion-icon class="zmdi zmdi-edit" text-start></ion-icon>
				<ion-icon class="zmdi zmdi-share" text-end></ion-icon>
      </span>
    </ion-title>
  </ion-toolbar>
  <div class="wrapper-image">
    <div class="map-box">
      <img src="assets/images/map/rome-map.jpg">
      <ion-icon class="zmdi zmdi-pin active" style="top: 33%; left: 71%;"></ion-icon>
      <ion-icon class="zmdi zmdi-pin active" style="top: 72%; left: 48%;"></ion-icon>
      <ion-icon class="zmdi zmdi-pin active" style="top: 80%; left: 80%;"></ion-icon> 
    </div>
  </div>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <h1 class="d-flex">
		Places (3)
		<span class="align-right">
			Walking Trip
		</span>
	</h1>
   <ion-item>
   	<div class="detail-trip d-flex">
			<div class="picture-box image-sizing">
				<img src="assets/images/places/colosseum.jpg" class="center-image">
			</div>
			<div class="info">
				<h2>{{ showImportantPlaces[0].name }}</h2>
				<p>{{ showImportantPlaces[0].tagline }}.</p>
			</div>
		</div>
    </ion-item>
    <ion-item>
      <div class="detail-trip d-flex">
			<div class="picture-box image-sizing">
				<img src="assets/images/places/colosseum.jpg" class="center-image">
			</div>
			<div class="info">
				<h2>{{ showImportantPlaces[1].name }}</h2>
				<p>{{ showImportantPlaces[1].tagline }}</p>
			</div>
		</div>
    </ion-item>
    <ion-item>
      <div class="detail-trip d-flex">
			<div class="picture-box image-sizing">
				<img src="assets/images/places/colosseum.jpg" class="center-image">
			</div>
			<div class="info">
				<h2>{{ showImportantPlaces[2].name }}</h2>
				<p>{{ showImportantPlaces[2].tagline }}</p>
			</div>
		</div>
    </ion-item>
  </ion-list>
</ion-content>

