
<ion-content>

</ion-content>
<ion-footer class="ion-no-border">
  <h2 class="ion-text-center">
    Share recent trips with your friends
  </h2>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size="4">
        <div class="icon-box image-sizing">
          <img src="assets/images/social/square-ig.png">
        </div>
        <h3>instagram</h3>
      </ion-col>
      <ion-col class="ion-text-center" size="4">
        <div class="icon-box image-sizing">
          <img src="assets/images/social/square-fb.png">
        </div>
        <h3>facebook</h3>
      </ion-col>
      <ion-col class="ion-text-center" size="4">
        <div class="icon-box image-sizing">
          <img src="assets/images/social/square-pt.png">
        </div>
        <h3>pinterest</h3>
      </ion-col>
      <ion-col class="ion-text-center" size="4">
        <div class="icon-box image-sizing">
          <img src="assets/images/social/square-tw.png">
        </div>
        <h3>twitter</h3>
      </ion-col>
      <ion-col class="ion-text-center" size="4">
        <div class="icon-box image-sizing">
          <img src="assets/images/social/square-wh.png">
        </div>
        <h3>whatsapp</h3>
      </ion-col>
      <ion-col class="ion-text-center" size="4">
        <div class="icon-box image-sizing">
          <img src="assets/images/social/square-sms.png">
        </div>
        <h3>SMS</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-footer>