<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
       <ion-back-button color="light" text="" name="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Places To Visit
    </ion-title>

  </ion-toolbar>

  <div class="wrapper-image">
    <div class="map-box">
      <img src="assets/images/map/rome-map.jpg">
      <ion-icon class="zmdi zmdi-pin active" style="top: 33%; left: 71%;"></ion-icon>
      <ion-icon class="zmdi zmdi-pin active" style="top: 72%; left: 48%;"></ion-icon>
      <ion-icon class="zmdi zmdi-pin active" style="top: 80%; left: 80%;"></ion-icon> 
    </div>
  </div>
</ion-header>

<ion-content class="bg-color">
  <ion-list lines="none">

    <h1 class="d-flex">
      Nearby places
      <span class="align-right ion-text-uppercase">
        Add a Stop
        <ion-icon class="zmdi zmdi-plus-circle-o ion-text-end"></ion-icon>
      </span>
    </h1>

    <ion-item>
      <div class="trip-place d-flex">
        <div class="picture-box image-sizing">
          <img src="assets/images/places/colosseum.jpg" class="center-image">
        </div>
        <div class="description">
          <h2>Roman Colosseum</h2>
          <p>Piazza del Colosseo, Roma, IT 00184</p>
        </div>
        <ion-icon class="zmdi zmdi-edit align-right"></ion-icon>
      </div>
    </ion-item>

    <ion-item>
      <div class="trip-place d-flex">
        <div class="picture-box image-sizing">
          <img [src]="nearbyPlaces[0].imageURI" class="center-image">
          <span>1</span>
        </div>
        <div class="description">
          <h2>{{ nearbyPlaces[0].name }}</h2>
          <p>{{ nearbyPlaces[0].address }}</p>
        </div>
        <ion-icon class="zmdi zmdi-menu align-right"></ion-icon>
      </div>
    </ion-item>

    <ion-item>
      <div class="trip-place d-flex">
        <div class="picture-box image-sizing">
          <img [src]="nearbyPlaces[1].imageURI" class="center-image">
          <span>2</span>
        </div>
        <div class="description">
          <h2>{{ nearbyPlaces[1].name }}</h2>
          <p>{{ nearbyPlaces[1].address }}</p>
        </div>
        <ion-icon class="zmdi zmdi-menu align-right"></ion-icon>
      </div>
    </ion-item>

    <ion-item>
      <div class="trip-place d-flex">
        <div class="picture-box image-sizing">
          <img [src]="nearbyPlaces[2].imageURI" class="center-image">
          <span>3</span>
        </div>
        <div class="description">
          <h2>{{ nearbyPlaces[2].name }}</h2>
          <p>{{ nearbyPlaces[2].address }}</p>
        </div>
        <ion-icon class="zmdi zmdi-menu align-right" item-end></ion-icon>
      </div>
    </ion-item>

  </ion-list>

</ion-content>
